*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    min-width:380px;
    font-family: 'Open Sans', sans-serif;
}

h1,h2,h3, nav{
    font-family: 'Raleway', sans-serif;
}

header{
    background-color: hsl(217, 28%, 15%);
    color:hsl(0, 0%, 100%);
}

nav{
    display:flex;
    justify-content: space-between;
    padding:15px 18px;
}

.nav-logo{
    width:85px;
}

.logo img{
    width:100%;
}

.nav-bar ul{
    display:flex;
}

.nav-bar li{
    list-style: none;
}

.nav-bar a{
    text-decoration: none;
    color:hsl(0, 0%, 100%);
    margin:0 10px;
}

.hero{
    background-color:hsl(217, 28%, 15%);
    color:hsl(0, 0%, 100%);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-icon{
    width:350px;
    margin-left:20px;
    margin-right:20px;
    position:relative;
    z-index: 3;
}

.hero-icon img{
   max-width:100%;
}

.hero-content{
    text-align: center;
    padding: 23px 20px;
    position: absolute;
    top:62%;
    z-index:3;
    color:hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-title{
    margin-bottom:20px;
}


.hero-txt{
    margin-bottom:20px;
}

.hero-btn{
    padding:15px 12px;
    width:250px;
    background: hsl(198, 60%, 50%);
    border-radius: 25px;
    border:none;
    margin:0 auto;
}

.hero-btn a{
    text-decoration: none;
    color:hsl(0, 0%, 100%);
}

.curvy-bg{
    width:100vw;
    height:45vh;
    position: relative;
    z-index: 2;
    left:0;
    bottom:50px;
}

.curvy-bg img{
    max-width: 100%;
    min-height:100%;
}

.features{
    background: hsl(218, 28%, 13%);
    color:hsl(0, 0%, 100%);
    position:relative;
    z-index: 1;
    bottom:63px;
    padding:80px 20px 20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.card-ft{
    margin:20px 10px;
}

.icon{
    padding-top:20px;
    padding-bottom: 10px;
}

.card-txt{
    padding:15px 10px;
}

.ft-title{
    margin:12px 0;
}

.ft-txt{
    padding:0 15px;
}

.productive{
    background: hsl(218, 28%, 13%);
    position: relative;
    bottom:65px;
    padding:35px 12px;
    min-height:50%;
    color:hsl(0, 0%, 100%);
    display:flex;
    flex-direction: column;
    align-items: center;
}

.illus{
    width:350px;
}

.illus-content{
    text-align: left;
    padding:20px 18px;
}

.illus-title{
    margin:15px 10px;
}

.illus-txt{
    margin: 10px 10px;
}

.illus-content a{
    text-decoration: none;
    color:hsl(198, 62%, 67%);
    margin:5px 10px;
    border-bottom: 1px solid lightblue;
}

.testimonials{
    background: hsl(218, 28%, 13%);
    color:hsl(0, 0%, 100%);
    bottom:65px;
    position: relative;
    padding:30px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-testi{
    width:80%;
    background-color: hsl(219, 30%, 18%);
    margin:20px 12px;
    padding:25px 20px;
    border-radius:8px;
}

.testi-txt{
    margin-bottom:25px;
    line-height: 1.5rem;
}

.profile{
    display:flex;
    margin:10px;
    justify-content:left;
}

.profile-img{
    width:50px;
    border-radius:35px;
    margin-right: 15px;
}

footer{
    background-color: hsl(216, 53%, 9%);
}

@media(min-width:1024px){
    .hero-content{
        width:50%;
        padding:3rem 2rem;
        margin:0.5rem;
    }

    .features{
        display:grid;
        grid-template-columns:repeat(2, 1fr);
        padding: 3.5rem 3rem;
    }

    .productive{
        display:flex;
        flex-direction: row;
        justify-content: center;
        padding:2rem 3rem;
    }

    .illus-content{
        width:50%;
    }

    .testimonials{
        display: flex;
        flex-direction: row;
    }

}